:root {
    --primary: #101232;
    --secondary: #FC0236;
    --back: #15183D;
  }

.main{
    position: relative;
    width: 100%;
    height: 90vh;
    top: 8vh;
}


.toolbar{
    position: relative;
    height: 90%;
    background: var(--primary);
}


.resume-container{
    position: relative;
    background: var(--primary);
    height: 90%;
    width: 100%;
    overflow: auto;

}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   

  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-track {
      background: none !important;

  }

.tool-window{
background: var(--secondary);
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 70px;
height: 50px;

position: -webkit-sticky; /* Safari */
position: sticky;
bottom: 50px;
left: 0;
z-index: 2;

transition: 0.5s ease;
}
.tools-icons{
    opacity: 0;
    transition: 0.5s ease;

}
.tool-window:hover{
    width: 500px;
    height: 70px;
}
.tool-window:hover .tools-icons{
    opacity: 1;

}

.space{
    position: relative;
    width: 100%;
    height: 50px;
}
.main-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.active{
    color: var(--secondary);
}

.home{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.tool-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    overflow: auto;
}

.font-container{
    background: var(--back);
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

    width: 80%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;

}

.font-active{
    background: var(--secondary) !important;
}

.theme-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.theme-box{
    width: 95%;
    height: 30%;
    text-align: end;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.theme-text{
    background: var(--back);
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    padding: 2px;
    color: white;
    text-align: end;

}

.box{
    width: 40px;
    height: 40px;
    margin: 3px;
}


.bg-pattern{
    width: 80%;
    height: 120px !important;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}