.template-two{
    position: relative;
    width: 800px !important;
    height: 1130px ;

    display: flex;
    flex-direction: row;
}

.left-window{
    height: 100%;
    width: 40%;
    overflow: hidden;
}


.right-window{
    height: 100%;
    width: 60%;
    filter: brightness(800%);
}

.svg-container{
    width: 100%;
    height: 100%;
}

.svg-one{
    position: relative;
    z-index: 4;
    bottom: -45%;
    left: 0%;
}

.svg-two{
    position: relative;
    z-index: 3;
    bottom: -15%;
    left: 28%;
    filter: brightness(150%);
}

.svg-three{
    position: relative;
    z-index: 2;
    bottom: 33%;
    left: -50%;
    filter: brightness(200%);
}
.svg-zero{
    position: relative;
    z-index: 0;
    top: -19%;
    left: 4%;
    filter: brightness(400%);
}

.header-two{
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0%;
    left: 0%;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.occupation-two{
    text-align: center;
}

.contact-container-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container-two p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-container-two{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.contact-items-two{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.objective-two{
display: flex;
flex-direction: column;
align-items: center;
width: 70%;

}

.template-two h3{
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.objective-two{
    position: absolute;
}

.right-window-two{
    position: absolute;
    right: 0%;
    width: 60%;
    height: 100%;
    filter: brightness(100%);
    padding-left: 50px;
}

.right-window-two h1{
    font-size: 42px;
}

.experience-two:hover .add-field-one{
    opacity: 1;
}

.education-two:hover .add-education-one{
    opacity: 1;
}
